@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: blue;
}

hr{
    margin:2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}