@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: blue;
    --secondary-color:#831843;
    --off-white:#FCE7F3
}

hr{
    margin:2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.non-bullet {
    list-style-type: none;
}

.list-item {
    display: inline;
    padding:0rem 1rem;
}

.nav-bar {
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-bar a {
    color: white;
}

.nav-right {
    text-align: right;
}

.active-link {
    font-weight: bold;
}


/* hero */

.hero{
    padding:1rem 0rem;
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero-heading {
    font-size: 2rem;
    text-align: center;
}

.hero-highlight {
    color: var(--secondary-color);
}

section h1 {
    text-align: center;
}

.gray-section {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 0rem;
}

.footer div {
    font-size: 2rem;
    color: white;
}
